---
- name: install gnupg2
  apt:
    update_cache: yes
    name: gnupg2
    state: present
  become: yes

- name: install wazuh repository key
  apt_key:
    url: https://packages.wazuh.com/key/GPG-KEY-WAZUH
    state: present
  become: yes
  tags: update_wazuh_agent

- name: add wazuh repository
  ansible.builtin.apt_repository:
    repo: deb https://packages.wazuh.com/4.x/apt/ stable main
    state: present
    filename: wazuh
  become: yes
  tags: update_wazuh_agent

- name: install wazuh-agent
  apt:
    update_cache: yes
    name: wazuh-agent
    state: latest
  become: yes
  tags: update_wazuh_agent

- name: add manger IP to ossec.conf
  replace:
    path: /var/ossec/etc/ossec.conf
    regexp: 'MANAGER_IP'
    replace: "{{ wazuh_manager_ip }}"
  become: yes

- name: enable wazuh remote command
  replace:
    path: /var/ossec/etc/internal_options.conf
    regexp: "wazuh_command.remote_commands=0"
    replace: "wazuh_command.remote_commands=1"
  become: yes
  when: enable_wazuh_remote_command|bool == True

- name: copy yara.sh
  ansible.builtin.copy:
    src: yara.sh
    dest: /var/ossec/active-response/bin
    owner: root
    group: wazuh
    mode: '0750'
  become: yes
  tags:
    - yara
    - module
    - reload

- name: Install virtual environment and docker dependencies
  block:
    - name: install python3-venv
      ansible.builtin.apt:
        name: python3-venv
        state: present
        update_cache: yes

    - name: create virtualenv for docker
      ansible.builtin.pip:
        name: [ "docker", "urllib3", "requests" ]
        virtualenv: "{{ venv_path }}"
        virtualenv_command: "python3 -m venv"

    - name: update the virtualenv of /var/ossec/wodles/docker/DockerListener
      ansible.builtin.replace:
        path: /var/ossec/wodles/docker/DockerListener
        regexp: '^#!.*$'
        replace: "#!{{ venv_bin }}"

  become: yes
  tags:
    - docker
    - module
    - reload



- name: register agent
  ansible.builtin.command: /var/ossec/bin/agent-auth -m "{{ wazuh_manager_ip }}" -P "{{ wazuh_manager_password }}" -G "{{ wazuh_agent_group }}"
  changed_when: false
  become: yes

- name: reload agent
  ansible.builtin.command: id
  notify: reload wazuh_agent
  tags:
   - update_wazuh_agent
   - reload

- name: remove wazuh repository
  ansible.builtin.apt_repository:
    repo: deb https://packages.wazuh.com/4.x/apt/ stable main
    state: absent
    filename: wazuh
  become: yes
  tags:
    - disable_wazuh
    - update_wazuh_agent
